.arrow {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
}

.arrow .up {
  border-bottom: 8px solid black;
}

.arrow .down {
  border-top: 8px solid black;
}

.bib-main {}

.bib-col2 {
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
}

.bib-col2 h2 {
    text-align: center;
}

.bib-col2 > div {
}

.bib-col2 a {
    text-decoration: none;
    color: black;
}

.bib-col {
    margin: 20px;
    max-width: 450px;
    width: 50%;
    padding: 10px;
}

.bib-col-divider {
    width: 1px;
    background-color: #dfdfdf;
}

.bib-col-header {
    margin-bottom: 1em;
}

.bib-col-aside {
    font-size: small;
}

.bib-col-center {
    display: table;
    margin: 0 auto;
}

.bib-col-title {
    font-size: x-large;
    font-weight: bold;
}

.bib-paper {
    color: black;
    margin-bottom: 1.3em;
    margin-top: 0.3em;
    /*height: 50px;
    overflow: hidden;*/
}

.bib-paper .jinfo {
    padding-left: 0.7em;
    font-size: 0.9em;
}

.bib-paper .venue {
    padding-right: 0.5em;
    text-transform: capitalize;
    font-style: italic;
    color: #777;
}

.bib-paper .venue:empty {
    display: none;
}

.bib-paper .year {
    font-weight: bold;
}

.bib-paper .year:empty {
    display: none;
}

.bib-paper a {
    color: #000;
    position: relative;
}

.bib-paper span {
    color: #000;
    position: relative;
}

.bib-paper .influential::before {
    left: -17px;
    position: absolute;
    width: 0px;
    content: '● ';
    color: red;
}

/*.bib-paper .unknown::before {
    left: -17px;
    position: absolute;
    width: 0px;
    content: '● ';
    color: #ccc;
    font-size: 0.85em;
}*/

.bib-authors {
    margin-left: 0.7em;
}

.bib-authors a {
    font-size: 0.9em;
    color: #555;
    margin-right: 0.5em;
}

.bib-authors a::after {
    content: ',';
}

.bib-authors a:last-of-type:after {
    content: '';
}

.bib-outbound {
    margin-left: 0.7em;
    margin-top: 3px;
}

.bib-outbound a {
    font-weight: bold;
    font-size: 1.0em;
    text-decoration: none;
    margin-right: 0.5em;
}

.bib-outbound .exitarrow {
    color: black;
    font-weight: bold;
    display: inline;
    margin: 0;
    padding: 0;
}

.bib-outbound .movearrow {
    top: -5px;
}

.bib-outbound .shadow {
    text-shadow:
        -0.5px -0.5px 0 #444,
        0.5px -0.5px 0 #444,
        -0.5px 0.5px 0 #444,
        0.5px 0.5px 0 #444;
}

.bib-outbound .arxiv {color: #b31b1b;}
.bib-outbound .ads {color: #2e78e1;}
.bib-outbound .bib {color: #286a8e;}
.bib-outbound .doi {color: #fcb328;}

.bib-lbl {
    font-size: 12px;
    color: white;
    background-color: black;
    padding-left: 10px;
    padding-right: 10px;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.page {
    margin-top: 1em;
    display: table;
    margin: 0.7em auto;
}

.page-list {
    list-style: none;
    padding: 0;
    display: inline;
}

.page-list > li {
    display: inline-block;
    margin-left: 0.25em;
    margin-right: 0.25em;
    min-width: 1.2em;
    text-align: center;
}

.sort-label {
    margin-left: 1em;
    margin-right: 0.7em;
}

.sort-arrow a {
    text-decoration: none;
}

.sort-arrow a:hover {
    text-decoration: none;
    cursor: pointer;
}

.disabled {
    color: #bbb;
}

.bold {
    font-weight: bold;
}

h1.bib-header {
    text-align: center;
    position: relative;
    z-index: 1;
}

h1.bib-header::before {
    border-top: 2px solid #dfdfdf;
    content:"";
    margin: 0 auto;
    position: absolute;
    top: 50%; left: 0; right: 0; bottom: 0;
    width: 95%;
    z-index: -1;
}

h1.bib-header span {
    background: #fff;
    padding: 0 15px;
}

.bib-selected {
    border: 2px solid #d8d8d8;
    border-radius: 20px;
}

.bib-selected:hover {
    border: 2px solid #d8d8d8;
    border-radius: 20px;
}

.bib-unselected {
    border: 2px solid white;
    border-radius: 20px;
}

.bib-unselected:hover {
    border: 2px solid black;
    border-radius: 20px;
    cursor: pointer;
}

.bib-sidebar {
    padding: 0 1em 0 1em;
    font-size: 90%;
    border-bottom: medium solid #ddd;
}

.bib-sidebar-badge {
    padding: 0.5em 0 0 0;
}

.bib-sidebar-title {
    position: relative;
    top: -6px;
    /*color: black;*/
    font-weight: bold;
    font-size: 14px;
    padding-left: 0.3em;
}

.bib-sidebar-authors {
    margin: 0 1em 0 2em;
    padding: 0 0 0.5em 1em;
}

.bib-pulse-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.bib-pulse {
    width: 30px;
    height: 30px;
	background-color: #000;
    border-radius: 40px;
    opacity: 0;

    animation: pulsate 1s ease-out;
    animation-iteration-count: infinite;
}

@keyframes pulsate {
    0% {
      transform: scale(.1);
      opacity: 0.0;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: scale(1.0);
      opacity: 0;
    }
}
