.arrow {
  width: 0; 
  height: 0; 
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
}

.arrow .up {
  border-bottom: 8px solid black;
}

.arrow .down {
  border-top: 8px solid black;
}

.authors a {
    color: black;
    text-decoration: none;
}

.s2-col2 {
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    margin: 20px;
}

.s2-col2 h2 {
    text-align: center;
}

.s2-col2 > div {
    width: 50%;
    padding: 10px;
}

.s2-col2 > div:first-child {
    margin-right: 20px;
    border-width: 0px 0.35em 0px 0px;
    /*border-style: solid;*/
    border-color: #ddd;
}

.s2-col2 a {
    text-decoration: none;
    color: black;
}

.s2-col-header {
    margin-bottom: 1em;
}

.s2-col-aside {
    font-size: small;
}

.s2-col-center {
    display: table;
    margin: 0 auto;
}

.s2-col-title {
    font-size: x-large;
    font-weight: bold;
}

.s2-paper {
    color: black;
    margin-bottom: 1.3em;
    margin-top: 0.3em;
    /*height: 50px;
    overflow: hidden;*/
}

.s2-paper .jinfo {
    padding-left: 0.7em;
    font-size: 0.9em;
}

.s2-paper .venue {
    padding-right: 0.5em;
    text-transform: capitalize;
    font-style: italic;
    color: #777;
}

.s2-paper .venue:empty {
    display: none;
}

.s2-paper .year {
    font-weight: bold;
}

.s2-paper .year:empty {
    display: none;
}

.s2-paper a {
    color: #000;
    position: relative;
}

.s2-paper .influential::before {
    left: -17px;
    position: absolute;
    width: 0px;
    content: 'â— ';
    color: red;
}

.s2-authors {
    margin-left: 0.7em;
}

.s2-authors a {
    font-size: 0.9em;
    color: #555;
    margin-right: 0.5em;
}

.s2-authors a::after {
    content: ',';
}

.s2-authors a:last-of-type:after {
    content: '';
}

.s2-lbl {
    font-size: 12px;
    color: white;
    background-color: black;
    padding-left: 10px;
    padding-right: 10px;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.page {
    margin-top: 1em;
    display: table;
    margin: 0.7em auto;
}

.page-list {
    list-style: none;
    padding: 0;
    display: inline;
}

.page-list > li {
    display: inline-block;
    margin-left: 0.25em;
    margin-right: 0.25em;
    min-width: 1.2em;
    text-align: center;
}

.sort-label {
    margin-left: 1em;
    margin-right: 0.7em;
}

.sort-arrow a {
    text-decoration: none;
}

.sort-arrow a:hover {
    text-decoration: none;
    cursor: pointer;
}

.disabled {
    color: #bbb;
}

.bold {
    font-weight: bold;
}

h1.lined {
    text-align: center;
    position: relative;
    z-index: 1;
}

h1.lined::before {
    border-top: 2px solid #dfdfdf;
    content:"";
    margin: 0 auto;
    position: absolute;
    top: 50%; left: 0; right: 0; bottom: 0;
    width: 95%;
    z-index: -1;
}

h1.lined span {
    background: #fff;
    padding: 0 15px;
}


