.authors a {
    color: black;
    text-decoration: none;
}

.s2-col2 {
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
}

.s2-col2 h2 {
    text-align: center;
}

.s2-col2 > div {
    width: 50%;
    padding: 10px;
}

.s2-col2 > div:first-child {
    margin-right: 20px;
    border-width: 0px 0.35em 0px 0px;
    /*border-style: solid;*/
    border-color: #ddd;
}

.s2-col2 a {
    text-decoration: none;
    color: black;
}

.s2-paper {
    color: black;
    margin-bottom: 1.3em;
    margin-top: 0.3em;
    /*height: 50px;
    overflow: hidden;*/
}

.s2-paper a {
    color: #000;
}

.s2-authors {
    margin-left: 0.7em;
}

.s2-authors a {
    font-size: 0.9em;
    color: #777;
    margin-right: 0.5em;
}

.s2-lbl {
    font-size: 12px;
    color: white;
    background-color: black;
    padding-left: 10px;
    padding-right: 10px;
}
