.references-citations {
    margin: 1.5em;
    font-size: 90%;
    line-height: 1.5em;
}

.references-citations h2 {
    font-size: 120%;
    margin: 0 0 .25em 0;
    font-weight: bold;
}

.arrow {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
}

.arrow .up {
  border-bottom: 8px solid black;
}

.arrow .down {
  border-top: 8px solid black;
}

.bib-main {}

.bib-col2 {
    display: flex;
    justify-content: space-evenly;
    margin: 0px 20px 0px 20px;
}

.bib-col2 h2 {
    text-align: center;
}

.bib-col2 > div {
}

.bib-col2 a {
    text-decoration: none;
    color: black;
}

.bib-col {
    margin: 0px 20px 20px 20px;
    max-width: 650px;
    width: 50%;
    padding: 10px;
}

.bib-col-divider {
    width: 1px;
    background-color: #dfdfdf;
}

.bib-col-header {
    margin: 0px;
}

.bib-col-title {
    font-size: large;
    font-weight: bold;
}

.bib-col-aside {
    font-size: small;
}

.bib-col-center {
    display: table;
    margin: 0 auto;
}

.bib-branding {
    display: flex;
    margin-top: 6px;
    justify-content: center;
}

.bib-branding a {
    text-decoration: underline;
    color: blue;
}

.bib-star {
    color: red;
}

.bib-branding-logo img {
    margin-left: 8px
}

.bib-utils {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 1em;
    /*display: table;*/
    margin: 0.7em auto 1.5em auto;
}

.bib-utils > div {
    margin-right: 1em;
    margin-bottom: 0.25em;
}

.bib-pager {
    min-width: 300px;
}

.bib-page-list {
    list-style: none;
    padding: 0;
    display: inline;
}

.bib-page-list > li {
    display: inline-block;
    margin-left: 0.25em;
    margin-right: 0.25em;
    min-width: 1.2em;
    text-align: center;
}

.bib-sorter {
    margin-top: 0.25em;
}

.bib-sorter > label {
    margin-right: 0.1em;
}

.bib-sort-arrow {
    margin-left: 0.2em;
    margin-right: 0.2em;
}

.bib-sort-arrow a {
    text-decoration: none;
}

.bib-sort-arrow a:hover {
    text-decoration: none;
    cursor: pointer;
}

.bib-filter {
    margin-top: 0.25em;
}

.bib-filter > label {
    margin: 0.1em;
}

.bib-fiter-input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.bib-paper-container {
    margin-bottom: 1.5em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
    align-items: stretch;
}

.bib-paper-overhang {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}

.bib-cite {
    min-width: 18px;
    width: 18px;
    top: -4px;
    left: -4px;
    position: relative;
}

.bib-paper {
    color: black;
}

.bib-paper .jinfo {
    padding-left: 0.7em;
    font-size: 0.9em;
}

.bib-paper .venue {
    padding-right: 0.5em;
    text-transform: capitalize;
    font-style: italic;
    color: #777;
}

.bib-paper .venue:empty {
    display: none;
}

.bib-paper .year {
    padding-right: 0.5em;
    font-weight: bold;
}

.bib-paper .year:empty {
    display: none;
}

.bib-paper .citations {
    padding-right: 0.5em;
}

.bib-paper .citations:empty {
    display: none;
}

.bib-paper a {
    color: #000;
    position: relative;
}

.bib-paper span {
    color: #000;
    position: relative;
}

.bib-paper-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 110px;
    max-width: 111px;
    position: relative;
}

.bib-paper-links > span {
    display: none;
}

.bib-citation-count {
    margin-left: 0.7em;
    font-size: 0.9em;
}

.bib-authors {
    margin-left: 0.7em;
}

.bib-authors a {
    font-size: 0.9em;
    color: #555;
    margin-right: 0.5em;
}

.bib-authors a::after {
    content: ',';
}

.bib-authors a:last-of-type:after {
    content: '';
}

.bib-authors a.nolink {
    text-decoration: none;
}

.bib-outbound {
    display: inline-block;
    margin-top: 3px;
}

.bib-outbound a {
    font-weight: bold;
    font-size: 1.0em;
    text-decoration: none;
    margin-right: 0.5em;
}

.bib-outbound .exitarrow {
    color: black;
    font-weight: bold;
    display: inline;
    margin: 0;
    padding: 0;
}

.bib-outbound .movearrow {
    top: -6px;
    position: relative;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.disabled {
    color: #bbb;
}

.bold {
    font-weight: bold;
}

h1.bib-header {
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: center;
    position: relative;
    z-index: 1;
}

h1.bib-header::before {
    border-top: 2px solid #dfdfdf;
    content:"";
    margin: 0 auto;
    position: absolute;
    top: 50%; left: 0; right: 0; bottom: 0;
    width: 95%;
    z-index: -1;
}

h1.bib-header span {
    background: #fff;
    padding: 0 15px;
}

.bib-sidebar {
    padding: 0 1em 0 1em;
    font-size: 90%;
    border-bottom: medium solid #ddd;
}

.nodisplay {
    display: none;
}

.bib-sidebar-msg {
    font-size: 16px;
}

.bib-sidebar-msgs {
}

.bib-sidebar-msgs p {
    margin: 0;
}

.bib-sidebar-msgs .msgs {
    padding-left: 0px;
    margin: 0px;
}

.bib-sidebar-msgs .msg {
    color: black;
    font-size: 100%;
    font-weight: normal;
    margin-left: 1.5em;
}

.bib-sidebar-msgs .msg:hover .hover {
    visibility: visible;
}

.bib-sidebar-paper {}
.bib-sidebar-paper > div {
    margin: 0px;
    padding: 0px;
    margin-bottom: 0.5em;
}
.bib-sidebar-paper > div:first-of-type {
    margin-top: 0.5em;
}

.bib-sidebar-badge {
    padding: 0.5em 0 0 0;
}
.bib-sidebar-title {}
.bib-sidebar-title a {
    position: relative;
    font-weight: bold;
    font-size: 14px;
}

.bib-sidebar-authors {
    list-style-position: inside;
    margin: 0px;
    padding: 0px;
    margin-bottom: 0.5em;
    padding-left: 1em;
}

.bib-sidebar-source {
}

.topborder {
    border-top-style: solid;
    border-top-color: #dfdfdf;
    border-top-width: 2px;
}

.bib-sidebar-source span {
    position: relative;
    margin-right: 5px;
}

.bib-sidebar-source img {
    height: 18px;
    width: auto;
    padding: 3px;
    margin-right: 3px;
    position: relative;
}

.bib-selected {
    font-weight: bold;
    color: black;
}

.bib-pulse-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.bib-pulse > div {
    display: inline-block;
    width: 30px;
    height: 30px;
	background-color: #000;
    border-radius: 30px;
    opacity: 0;
    margin-left: 10px;
    margin-right: 10px;

    animation: pulsate 1.5s ease-out;
    animation-iteration-count: infinite;
}
.bib-pulse > div:nth-of-type(2) {
    -webkit-animation-delay: 0.18s;
    -moz-animation-delay: 0.18s;
}
.bib-pulse > div:nth-of-type(3) {
    -webkit-animation-delay: 0.36s;
    -moz-animation-delay: 0.36s;
}

@keyframes pulsate {
    0% {
      transform: scale(.1);
      opacity: 0.0;
    }
    30% {
      opacity: 1;
    }
    60% {
      transform: scale(0.8);
      opacity: 0;
    }
}


/* =============================================== */
.tooltiptext {
    opacity: 1;
    width: 120px;
    background-color: black;
    color: #fff;
    font-weight: bold;
    text-align: center;
    padding: 5px 0;

    width: 240px;
    bottom: 150%;
    left: 90%;
    margin-left: -90px;

    position: absolute;
    z-index: 1;
}

.tooltiptext div {
    display: flex;
    justify-content: space-evenly;
}

.tooltiptext a {
    color: #8080ff;
}

.tooltiptext a.green {
    color: #1bcc44;
}

.tooltiptext::after {
    opacity: 1;
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}
/* =============================================== */

.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    position: absolute;
    float: left;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
}

.modal-title h2 {
    margin-top: 0px;
    margin-bottom: 0.3em;
    display: inline-block;
}

.modal-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modal-close:hover,
.modal-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
}

.modal-buttons .disabled {
    color: gray;
}

.modal h4 {
    margin-top: 0.3em;
    margin-bottom: 0em;
}

.modal-button-group {
    padding-right: 5em;
    padding-bottom: 0.5em;
}

.modal-button-close {
    display: flex;
    flex-grow: 0;
    background-color: white;
    color: black;
    padding: 0;
    font-size: 2em;
}

.modal textarea {
    border-width: 2px;
}

.cite:hover {
    cursor: pointer;
}

@media only screen and (max-width: 800px) {
    .bib-col2 {
        flex-direction: column;
    }

    .bib-col {
        width: 100%;
    }
}

.bib-hr {
    margin-bottom: 1em;
    border-width: 1px 0 0 0;
    border-color: #555;
    border-style: solid;
}
